include:
- project: tq-em/public/build/base
  file: ci/include.yml
  ref: main
  rules:
- local: ci/docker.yml
- local: ci/yocto.yml

# Common definitions
stages:
  - test
  - build
  - deploy
  - toolchain

variables:
  TQEM_MACHINES: 'em310 em-aarch64'
  BASE_DOCKER_TAG: 'next'

.common-yocto-settings:
  extends:
    - .gitlab-runner-tag
    - .image-yocto
    - .yocto-build-settings
  resource_group: ${CI_PROJECT_PATH}-${SUBDIR_JOB}

.rule-default-branch-or-force-snapshot:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: never
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    - if: $FORCE_SNAPSHOT == 'true'

# Test
Test yocto build from scratch:
  stage: test
  extends:
    - .common-yocto-settings
    - .rule-include-development-branches
  variables:
    SUBDIR_JOB: 'test'
    CLEAN_MODE: 'build'
  script:
    - make build TARGET=libtool-native TQEM_MACHINES=em-aarch64

Gitleaks:
  extends: .gitleaks

Shell Linter:
  extends:
    - .lint-shell
    - .rule-include-development-branches

# Snapshot
Build and Deploy Core Snapshots:
  stage: build
  extends:
    - .common-yocto-settings
    - .rule-default-branch-or-force-snapshot
  variables:
    SUBDIR_JOB: 'snapshot'
  script: |
    make clean-artifacts
    make all
    [ "$SKIP_DEPLOYMENT" != 'true' ] && make deploy

# Toolchain
Trigger Toolchain Build:
  stage: toolchain
  extends:
    - .rule-default-branch-or-force-snapshot
  trigger:
    project: tq-em/public/build/toolchain
    strategy: depend
