include:
- project: tq-em/public/build/base
  file: ci/include.yml
  ref: v2.0.3
  rules:
    - if: '$BASE_CI_REF'
      when: never
    - if: '$CI_COMMIT_TAG'
    - if: '$CI_COMMIT_BRANCH =~ /^release/ || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^release/'

- project: tq-em/public/build/base
  file: ci/include.yml
  ref: main
  rules:
    - if: '$BASE_CI_REF || $CI_COMMIT_TAG'
      when: never
    - if: '$CI_COMMIT_BRANCH =~ /^release/ || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^release/'
      when: never
    - when: always

- project: tq-em/public/build/base
  file: ci/include.yml
  ref: $BASE_CI_REF
  rules:
    - if: '$BASE_CI_REF'

- local: ci/docker.yml
- local: ci/yocto.yml

# Common definitions
stages:
  - test
  - build
  - deploy
  - toolchain

variables:
  TQEM_MACHINES: 'em310 em-aarch64'

.rule-default-branch-or-force-snapshot:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: never
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    - if: $FORCE_SNAPSHOT == 'true'

# Test
Test yocto build from scratch:
  stage: test
  extends:
    - .common-yocto-settings
    - .rule-include-development-branches
  variables:
    SUBDIR_JOB: 'test'
    CLEAN_MODE: 'build'
    YOCTO_RECIPE: 'libtool-native'
  script:
    - make build TARGET=${YOCTO_RECIPE} TQEM_MACHINES=em-aarch64

Gitleaks:
  extends: .gitleaks

Shell Linter:
  extends:
    - .lint-shell
    - .rule-include-development-branches

# Snapshot
Build and Deploy Core Snapshots:
  stage: build
  extends:
    - .common-yocto-settings
    - .rule-default-branch-or-force-snapshot
  variables:
    SUBDIR_JOB: 'snapshot'
  script: |
    make clean-artifacts
    make all
    [ "$SKIP_DEPLOYMENT" != 'true' ] && make snapshot-deploy

# Release
Build Core-Image and Toolchain Release:
  stage: build
  extends:
    - .common-yocto-settings
    - .rule-if-tag-with-em-build-prefix
  variables:
    SUBDIR_JOB: 'release'
    CLEAN_MODE: 'full'
  script:
    - make release

Deploy Core-Image and Toolchain Release:
  stage: deploy
  extends:
    - .common-yocto-settings
    - .rule-if-tag-with-em-build-prefix
  variables:
    SUBDIR_JOB: 'release'
  script:
    - make mirror
    - make release-deploy

# Toolchain
Trigger Toolchain Build:
  stage: toolchain
  extends:
    - .rule-default-branch-or-force-snapshot
  trigger:
    project: tq-em/public/build/toolchain
    strategy: depend
