---
# base ci reference is maintained in ci/include.yml, it enables simple includes
# from other yocto projects
include:
- local: ci/include.yml

# Common definitions
stages:
  - test
  - build
  - deploy
  - toolchain

variables:
  TQEM_MACHINES: 'em310 em-aarch64'

.rule-default-branch-or-force-snapshot:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: never
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    - if: $FORCE_SNAPSHOT == 'true'

# Test
Test yocto build from scratch:
  stage: test
  extends:
    - .internal-yocto-settings
    - .rule-include-development-branches
  variables:
    SUBDIR_JOB: 'test'
    CLEAN_MODE: 'build'
    YOCTO_RECIPE: 'libtool-native'
  script:
    - make build TARGET=${YOCTO_RECIPE} TQEM_MACHINES=em-aarch64

Gitleaks:
  extends: .gitleaks

Shell Linter:
  extends:
    - .lint-shell
    - .rule-include-development-branches

# Snapshot
Build and Deploy Core Snapshots:
  stage: build
  extends:
    - .internal-yocto-settings
    - .rule-default-branch-or-force-snapshot
  variables:
    SUBDIR_JOB: 'snapshot'
  script: |
    make clean-artifacts
    make all
    [ "$SKIP_DEPLOYMENT" != 'true' ] && make snapshot-deploy-remote

# Release
Build Core-Image and Toolchain Release:
  stage: build
  extends:
    - .internal-yocto-settings
    - .rule-if-tag-with-em-build-prefix
  variables:
    SUBDIR_JOB: 'release'
    CLEAN_MODE: 'full'
  script:
    - make release

Deploy Core-Image and Toolchain Release:
  stage: deploy
  extends:
    - .internal-yocto-settings
    - .rule-if-tag-with-em-build-prefix
  variables:
    SUBDIR_JOB: 'release'
  script:
    - make mirror
    - make release-deploy-remote

# Docker builds
# Test the docker build without deployment
Test docker build:
  stage: test
  extends:
    - .image-docker
    - .gitlab-runner-tag
    - .before-script-docker-login
    - .rule-include-development-branches
  script:
    - make -f docker.mk all

# Build and deploy the docker image for the default branch or tags
Deploy yocto docker image:
  stage: deploy
  extends:
    - .image-docker
    - .gitlab-runner-tag
    - .before-script-docker-login
    - .rule-include-default-branch-or-tags
  script:
    - make -f docker.mk release

# Toolchain
Trigger Toolchain Build:
  stage: toolchain
  extends:
    - .rule-default-branch-or-force-snapshot
  trigger:
    project: tq-em/public/build/toolchain
    strategy: depend
