version: '3'
services:
  build:
    build:
      context: .
      dockerfile: docker/build.Dockerfile
      args:
        - BASE_REGISTRY=${BASE_REGISTRY}
        - BASE_DOCKER_TAG=${BASE_DOCKER_TAG}
    image: ${YOCTO_REGISTRY}/build:${BUILD_TAG}
